button {
  background: none;
  border: none;
  position: relative;
  padding: 6px;
  line-height: unset;
  min-width: unset;

  &:hover svg:not(.active) {
    width: 22px;
    height: 22px;
  }
}

svg {
  width: 40px;
  height: 40px;
  transition: ease 0.6s;

  path {
    transition: ease 0.6s;
  }

  &.active {
    path {
      fill: var(--color-secondary);
      stroke: var(--color-secondary);
    }
  }

  &:not(.active) {
    transform: translate(3px, -25px);
    width: 18px;
    height: 18px;
  }

  &#sol {
    &:not(.active) {
      path {
        fill: none;
        stroke: var(--color-secondary);
      }
    }
  }
}
