:host ::ng-deep {
  display: block;
  min-height: calc(100vh - 207px);
  position: relative;
  flex: 1;

  .filtros {
    mat-form-field {
      .mat-form-field-label {
        opacity: 0.4;
        font-weight: 400;
      }

      .mat-form-field-underline {
        background-color: var(--color-secondary);
      }

      &.mat-focused {
        .mat-form-field-ripple {
          background-color: var(--color-secondary);
        }
      }
    }
  }
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  text-align: center;
}

.filtros {
  mat-form-field {
    margin: 20px 0;
    width: 100%;
  }

  button {
    display: flex;
    align-items: center;

    min-width: unset;
    line-height: unset;
    padding: 6px;
    gap: 6px;

    font-size: 1.5rem;

    span,
    small,
    svg {
      transition: ease 0.6s;
    }

    &.active {
      span {
        font-size: 0.75rem;

        small {
          font-size: 1.5rem;
        }
      }
      svg {
        transform: rotate(180deg);
      }
    }
  }
}

.abreviacoes {
  gap: 1.25rem;
}
