<a [routerLink]="'abreviacao/' + obj.slug">
  <div class="background" fxLayout="column " fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutGap="20px">
      <span>{{ obj.nome }}</span>
      <span>{{ obj.nome }}</span>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <span>{{ obj.nome }}</span>
      <span>{{ obj.nome }}</span>
      <span>{{ obj.nome }}</span>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <span>{{ obj.nome }}</span>
      <span>{{ obj.nome }}</span>
      <span>{{ obj.nome }}</span>
      <span>{{ obj.nome }}</span>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <span>{{ obj.nome }}</span>
      <span>{{ obj.nome }}</span>
      <span>{{ obj.nome }}</span>
      <span>{{ obj.nome }}</span>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <span>{{ obj.nome }}</span>
      <span>{{ obj.nome }}</span>
      <span>{{ obj.nome }}</span>
      <span>{{ obj.nome }}</span>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <span>{{ obj.nome }}</span>
      <span>{{ obj.nome }}</span>
      <span>{{ obj.nome }}</span>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <span>{{ obj.nome }}</span>
      <span>{{ obj.nome }}</span>
    </div>
  </div>
  <span class="nome">{{ obj.nome }}</span>
</a>
